<template>
    <div>
        <input type="text" v-model="message" @blur="addMessage">
        <ul>
            <li v-for="message in messages">{{ message }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "TodoList",

        created() {
            socket.on('test-channel:UserSignedUp', data => {
                console.log('a')
                this.messages.push(data)
            })
        },

        data() {
            return {
                messages: [],
                message: '',
            }
        },

        methods: {
            addMessage() {
                console.log('submit')
                socket.emit('test', this.message)
            },
        }
    }
</script>

<style scoped>

</style>
